<section class="section section-brand">
    <div class="container">
        <div class="brand">
            <div class="brand-header">
                <div class="brand-subtitle wow fadeInup" data-wow-delay="0.1s">Бренд</div>
                <div class="brand-title">
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.75s">P</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.75s">O</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.75s">R</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.75s">C</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.75s">E</span>
                    <br>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.5s">L</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.5s">A</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.5s">N</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.5s">O</span>
                    <br>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.25s">S</span>
                    <span class="brand-title-symbol wow fadeInDown" data-wow-delay="0.25s">A</span>
                </div>
            </div>
            <div class="brand-content">
                <picture class="brand-content-picture">
                    <img src="./images/content/brand-image.jpg" alt="" class="brand-content-image">
                </picture>
                <div class="brand-content-row">
                    <div class="brand-content-col">
                        <div class="brand-content-text">Это группа, состоящая из 8 компаний. Диверсификация производства стала фундаментальной опорой в развитии группы компаний, которая начинала исключительно с производства плитки.</div>
                        <div class="brand-content-label">Широкий ассортимент и передовые строительные решения</div>
                    </div>
                    <div class="brand-content-col">
                        <div class="brand-content-slider" data-desktop="slider-brand">
                            <%- require("../components/sliders/slider-brand.ejs")() %>
                        </div>
                        <div class="brand-content-text">В настоящее время восемь компаний группы предлагают широкий ассортимент продукции, начиная от сантехнического оборудования и заканчивая технологическими материалами и передовыми строительными решениями для современной архитектуры.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>