<section class="section section-services">
    <div class="container">
        <div class="services-property-tab" data-tabs>
            <div class="services-property__head" data-tabs-nav>
                <div class="services-property__switch current" data-tabs-nav-item><span data-tabs-nav-toggle>Доставка</span></div>
                <div class="services-property__switch" data-tabs-nav-item><span data-tabs-nav-toggle>Подъем</span></div>
                <div class="services-property__switch" data-tabs-nav-item><span data-tabs-nav-toggle>Монтаж</span></div>
            </div>
            <div class="services-property__body" data-tabs-content>
                <div class="services-property__item current" data-tabs-content-item>
                    <div class="services-property__content">
                        <div class="services-property__title">Тарифы на доставку</div>
                        <div class="services-property__table">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-col table-col--name">
                                        <div class="table-col__header">&nbsp;</div>
                                        <div class="table-col__content">Плитка</div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Объем</div>
                                        <div class="table-col__content">
                                            <ul>
                                                <li>до 100 кг </li>
                                                <li>100 - 2 000 кг </li>
                                                <li>2 000 - 10 000 кг</li>
                                                <li>свыше 10 000 кг</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Тарифная зона</div>
                                        <div class="table-col__content">
                                            <div class="table-row">
                                                <div class="table-col">
                                                    <div class="table-col__header">Центральный район</div>
                                                    <div class="table-col__content">
                                                        <ul>
                                                            <li>1 000 руб.</li>
                                                            <li>2 000 руб.</li>
                                                            <li>1,20 руб. / кг</li>
                                                            <li>1,50 руб. / кг</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="table-col">
                                                    <div class="table-col__header">Южный район</div>
                                                    <div class="table-col__content">
                                                        <ul>
                                                            <li>1 200 руб.</li>
                                                            <li>2 400 руб.</li>
                                                            <li>1,25 руб. / кг</li>
                                                            <li>1,55 руб. / кг</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="table-col">
                                                    <div class="table-col__header">Северный район</div>
                                                    <div class="table-col__content">
                                                        <ul>
                                                            <li>1 250 руб. </li>
                                                            <li>2 500 руб.</li>
                                                            <li>1,30 руб. / кг</li>
                                                            <li>1,60 руб. / кг</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-col table-col--delivery">
                                        <div class="table-col__header">Доплата за доставку</div>
                                        <div class="table-col__content">
                                            <p>Вы можете выбрать и заказать доставку на удобный для вас период времени. Выбор интервал оплачивается дополнительно в размере:</p>
                                            <ul>
                                                <li>Доставка с 10:00 до 14:00 дополнительно 2000 р к стоимости доставки.</li>
                                                <li>Доставка с 14:00 до 18:00 дополнительно 2000 р к стоимости доставки.</li>
                                                <li>Доставка с 18:00 до 20:00 дополнительно 4000 р к стоимости доставки.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-property__item" data-tabs-content-item>
                    <div class="services-property__content">
                        <div class="services-property__title">Тарифы на подъем</div>
                        <div class="services-property__table">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-col table-col--name">
                                        <div class="table-col__header">&nbsp;</div>
                                        <div class="table-col__content">Плитка</div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Объем</div>
                                        <div class="table-col__content">
                                            <ul>
                                                <li>до 100 кг </li>
                                                <li>100 - 2 000 кг </li>
                                                <li>2 000 - 10 000 кг</li>
                                                <li>свыше 10 000 кг</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Стоимость за этаж</div>
                                        <div class="table-col__content">
                                            <ul>
                                                <li>100 руб.</li>
                                                <li>150 руб.</li>
                                                <li>200 руб.</li>
                                                <li>300 руб.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Минимальная стоимость подъема</div>
                                        <div class="table-col__content">
                                            <ul>
                                                <li>2 100 руб.</li>
                                                <li>3 150 руб.</li>
                                                <li>4 200 руб.</li>
                                                <li>5 300 руб.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-property__item" data-tabs-content-item>
                    <div class="services-property__content">
                        <div class="services-property__title">Тарифы на монтаж</div>
                        <div class="services-property__table">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-col table-col--name">
                                        <div class="table-col__header">&nbsp;</div>
                                        <div class="table-col__content">Плитка</div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Работы</div>
                                        <div class="table-col__content">
                                            <ul>
                                                <li>Укладка плитки на стены (размер плитки от 20*20 до 60*60)</li>
                                                <li>Укладка плитки на пол (размер плитки от 20*20 до 60*60) </li>
                                                <li>Укладка нестандартной плитки (размер плитки от 10*10 до 15*15)</li>
                                                <li>Затирка межплиточных швов керамической плитки</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="table-col">
                                        <div class="table-col__header">Стоимость руб. / м <sup>2</sup></div>
                                        <div class="table-col__content">
                                            <ul>
                                                <li>3 100 руб.</li>
                                                <li>4 150 руб.</li>
                                                <li>5 200 руб.</li>
                                                <li>2 300 руб.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>