<section class="section section-catalog-cat">
    <div class="container">
        <div class="section__head">
            <h2 class="h2">Каталог <br> товаров</h2>
        </div>
        <div class="catalog">
            <div class="catalog-cat-list">
                <div class="catalog-cat-col">
                    <div class="catalog-cat-item">
                        <div class="catalog-cat-item__inner">
                            <a href="#" class="catalog-cat-item__link">
                                <picture class="catalog-cat-item__picture">
                                    <img src="./images/content/catalog-cat-img-1.jpg" alt="" class="catalog-cat-item__image">
                                </picture>
                                <div class="catalog-cat-item__info">
                                    <div class="catalog-cat-item__name">Плитка</div>
                                    <div class="catalog-cat-item__arrow">
                                        <svg class="i-icon i-arrow-right-md">
                                            <use xlink:href="#i-arrow-right-md"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="catalog-cat-item">
                        <div class="catalog-cat-item__inner">
                            <a href="#" class="catalog-cat-item__link">
                                <picture class="catalog-cat-item__picture">
                                    <img src="./images/content/catalog-cat-img-2.jpg" alt="" class="catalog-cat-item__image">
                                </picture>
                                <div class="catalog-cat-item__info">
                                    <div class="catalog-cat-item__name">Сантехника</div>
                                    <div class="catalog-cat-item__arrow">
                                        <svg class="i-icon i-arrow-right-md">
                                            <use xlink:href="#i-arrow-right-md"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="catalog-cat-col">
                    <div class="catalog-cat-item">
                        <div class="catalog-cat-item__inner">
                            <a href="#" class="catalog-cat-item__link">
                                <picture class="catalog-cat-item__picture">
                                    <img src="./images/content/catalog-cat-img-3.jpg" alt="" class="catalog-cat-item__image">
                                </picture>
                                <div class="catalog-cat-item__info">
                                    <div class="catalog-cat-item__name"> Мебель</div>
                                    <div class="catalog-cat-item__arrow">
                                        <svg class="i-icon i-arrow-right-md">
                                            <use xlink:href="#i-arrow-right-md"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="catalog-cat-more">
                        <span>Смотреть все</span>
                        <div class="catalog-cat-more__arrow"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section mobile-brand-slider">
    <div class="container" data-mobile="slider-brand">

    </div>
</section>