<div class="section section-seo section-dark">
    <div class="container">
        <div class="seo">
            <div class="seo-header">
                <div class="section__head wow fadeInDown" data-wow-delay="0.5s">
                    <h2 class="h2">Напольное <br> и облицовочное <br> покрытия</h2>
                </div>
            </div>
            <div class="seo-content">
                <picture class="seo-picture">
                    <img src="./images/content/seo-image.jpg" alt="" class="seo-image">
                </picture>
                <div class="seo-content-row">
                    <div class="seo-col">
                        <p>Стойкость и тепло керамического паркета, фабричная плитка, черпающая вдохновение в гидравлической, или напольное покрытие, воспроизводящее эстетику цемента, напоминают нам о ценности ремесленного труда для качественного продукта.</p>
                        <p>Сельский, индустриальный и минималистичный стиль для интерьеров, ищущих новые смыслы.</p>
                    </div>
                    <div class="seo-col">
                        <p> Сельский, индустриальный и минималистичный стиль для интерьеров, ищущих новые смыслы. Стойкость и тепло керамического паркета, фабричная плитка, черпающая вдохновение в гидравлической, или напольное покрытие, воспроизводящее эстетику цемента, напоминают нам о ценности ремесленного труда для качественного продукта. Коллекции, которые сочетаются с рельефными покрытиями для стен и виниловой отделкой.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>