<% const data = {
    title: 'Список заказов',
    'flowContainerClass' : 'flow-container--main',
    'personalKey':'orders-current'
} %>
<%- require("../layouts/header.ejs")(data) %>

<section class="section-head">
    <div class="container">
        <%- require('../components/elements/breadcrumbs.ejs')(data)%>
        <div class="section-head__title">
            <h1 class="h1">Список заказов</h1>
            <div class="personal-switch">
                <a href="personal-orders-current.html" class="btn btn--personal">Текущие заказы</a>
                <a href="personal-orders-finished.html" class="btn btn--personal active">Завершенные заказы</a>
            </div>
        </div>
    </div>
</section>

<%- require("../section/personal.ejs")(data)%>

<%- require("../layouts/footer.ejs")() %>