<% const data = {
    title: 'Поиск',
    'flowContainerClass' : 'flow-container--main'
} %>
<%- require("../layouts/header.ejs")(data) %>

    <section class="section-head">
        <div class="container">
            <%- require('../components/elements/breadcrumbs.ejs')(data)%>
            <div class="section-head__title">
                <h1 class="h1">Поиск по запросу “Плитка”</h1>
            </div>
        </div>
    </section>

    <section class="section section-catalog section-search">
        <div class="container">
            <%- require("../section/catalog-section.ejs")({ catalogType: 'list', searchPage: true }) %>
        </div>
    </section>

<%- require("../layouts/footer.ejs")() %>