<div id="basket-root" class="bx-basket">
    <div class="row">
        <div class="col-xs-9">
            <div class="basket-items-list-wrapper basket-items-list-wrapper-height-fixed basket-items-list-wrapper-light" id="basket-items-list-wrapper">
                <div class="basket-items-list-container" id="basket-items-list-container" >
                    <div class="basket-items-list-overlay" id="basket-items-list-overlay" style="display: none;"></div>
                    <div class="basket-items-list" id="basket-item-list" >
                        <div class="basket-search-not-found" id="basket-item-list-empty-result" style="display: none;">
                            <div class="basket-search-not-found-icon"></div>
                            <div class="basket-search-not-found-text">
                                По данному запросу товаров не найдено
                            </div>
                        </div>
                        <table class="basket-items-list-table" id="basket-item-table">
                            <tbody>
                            <tr class="basket-items-list-item-container" id="basket-item-7" data-entity="basket-item" data-id="7">
                                <td class="basket-items-list-item-descriptions">
                                    <div class="basket-items-list-item-descriptions-inner" id="basket-item-height-aligner-7">
                                        <div class="basket-item-block-image">
                                            <a href="#" class="basket-item-image-link">
                                                <img class="basket-item-image" alt="" src="./images/content/product_1.jpg">
                                            </a>
                                        </div>
                                        <div class="basket-item-block-info">
                                            <div class="basket-item-block-info__head">
                                                <h2 class="basket-item-info-name">
                                                    <a href="#" class="basket-item-info-name-link">
                                                        <span data-entity="basket-item-name">Плитка Mirage-Image</span>
                                                    </a>
                                                </h2>
                                                <div class="basket-item-block-info__top">
                                                    <div class="basket-item-block-article">
                                                        <div class="basket-item-block-article__key">Артикул</div>
                                                        <div class="basket-item-block-article__value">V14402641</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="basket-item-block-amount counter" data-entity="basket-item-quantity-block">
                                                <div class="counter-btns">
                                                    <span class="basket-item-amount-btn-minus counter__btn counter__btn--reduce" data-entity="basket-item-quantity-minus"></span>
                                                    <div class="basket-item-amount-filed-block">
                                                        <input type="text" class="basket-item-amount-filed counter__input" value="1" data-value="1" data-entity="basket-item-quantity-field" id="basket-item-quantity-7">
                                                    </div>
                                                    <span class="basket-item-amount-btn-plus counter__btn counter__btn--increase" data-entity="basket-item-quantity-plus"></span>
                                                </div>
                                                <div class="counter__value">упак = 2,15 м<sup>2</sup></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-price">
                                    <div class="basket-item-block-price">
                                        <div class="basket-item-price-current">
                                                <span class="basket-item-price-current-text" id="basket-item-sum-price-7">149 800 руб.</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-remove hidden-xs">
                                    <div class="basket-item-block-actions">
                                            <span class="basket-item-actions-remove" data-entity="basket-item-delete">
                                                  <svg class="i-icon">
                                                        <use xlink:href="#icon-basket-product-remove"></use>
                                                  </svg>
                                            </span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="basket-items-list-item-container" id="basket-item-7" data-entity="basket-item" data-id="7">
                                <td class="basket-items-list-item-descriptions">
                                    <div class="basket-items-list-item-descriptions-inner" id="basket-item-height-aligner-7">
                                        <div class="basket-item-block-image">
                                            <a href="#" class="basket-item-image-link">
                                                <img class="basket-item-image" alt="" src="./images/content/product_2.jpg">
                                            </a>
                                        </div>
                                        <div class="basket-item-block-info">
                                            <div class="basket-item-block-info__head">
                                                <h2 class="basket-item-info-name">
                                                    <a href="#" class="basket-item-info-name-link">
                                                        <span data-entity="basket-item-name">Керамогранит Manhattan Par-Ker</span>
                                                    </a>
                                                </h2>
                                                <div class="basket-item-block-info__top">
                                                    <div class="basket-item-block-article">
                                                        <div class="basket-item-block-article__key">Артикул</div>
                                                        <div class="basket-item-block-article__value">440261241</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="basket-item-block-amount counter" data-entity="basket-item-quantity-block">
                                                <div class="counter-btns">
                                                    <span class="basket-item-amount-btn-minus counter__btn counter__btn--reduce" data-entity="basket-item-quantity-minus"></span>
                                                    <div class="basket-item-amount-filed-block">
                                                        <input type="text" class="basket-item-amount-filed counter__input" value="1" data-value="1" data-entity="basket-item-quantity-field" id="basket-item-quantity-7">
                                                    </div>
                                                    <span class="basket-item-amount-btn-plus counter__btn counter__btn--increase" data-entity="basket-item-quantity-plus"></span>
                                                </div>
                                                <div class="counter__value">упак = 2,15 м<sup>2</sup></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-price">
                                    <div class="basket-item-block-price">
                                        <div class="basket-item-price-current">
                                                <span class="basket-item-price-current-text" id="basket-item-sum-price-7">149 800 руб.</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-remove hidden-xs">
                                    <div class="basket-item-block-actions">
                                            <span class="basket-item-actions-remove" data-entity="basket-item-delete">
                                                  <svg class="i-icon">
                                                        <use xlink:href="#icon-basket-product-remove"></use>
                                                  </svg>
                                            </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3" data-entity="basket-total-block">
            <div class="basket-checkout-container basket-total" data-entity="basket-checkout-aligner">
                <div class="basket-total-header">
                    <div class="basket-total__label">
                        <div class="basket-total-label__text">Итого</div>
                        <div class="basket-total-label__message">Без учета доставки</div>
                    </div>
                    <div class="basket-total-label__value">549 800 руб.</div>
                    <div class="basket-total-header__title">Оформление заказа</div>
                </div>
                <div class="basket-total-body">
                    <form action="" class="form">
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <input type="text" class="input input--required" placeholder="Ваше имя *" data-input-required="name">
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <input type="text" class="input" placeholder="Ваш e-mail" data-input-required="email">
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <input class="input" type="text" placeholder="Введите город" data-location-search>
                                    <button class="submit">
                                        <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="8.92857" cy="8.92857" r="8.42857" stroke="#A77255"/>
                                            <line x1="14.6593" y1="15.3827" x2="20.3736" y2="21.8112" stroke="#A77255"/>
                                        </svg>
                                    </button>
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <input type="text" class="modal__input input" placeholder="Ваш номер телефона *" data-inputmask data-input-required="phone">
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <input type="text" class="input" placeholder="Промокод" data-input-required="promo">
                                    <button class="submit">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 20.9357L1.11185 21M20.7745 20.7122L20.8394 1M20.7609 20.7918L1 1.20571" stroke="#A77255"/>
                                        </svg>
                                    </button>
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <button class="basket-btn-checkout btn btn--purple" data-entity="basket-checkout-button">Получить код</button>
                                </label>
                                <div class="rules">
                                    <span>Подписываясь, вы соглашаетесь <br> с </span>
                                    <a href="#">условиями обработки персональных данных</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>