<div id="mobileSearch" class="mobile-search" data-mobile-search>
    <div class="mobile-search__section mobile-search__search" data-mobile="header-search">

    </div>
    <div class="mobile-search__section mobile-search__logo" data-mobile="header-logo">

    </div>
</div>