<div id="mobileMenu" class="mobile-menu" data-mobile-menu>
    <div class="mobile-menu__section" data-mobile-section="catalog">

    </div>
    <div class="mobile-menu__section" data-mobile-section="header-nav">

    </div>
</div>