<div class="personal-data">
    <form action="" class="form">
        <div class="form-row">
            <div class="form__heading">Персональные данные</div>
            <div class="form-col form-col--6">
                <label class="label">
                    <input type="text" class="input input--required" placeholder="Ваша фамилия">
                </label>
            </div>
            <div class="form-col form-col--6">
                <label class="label">
                    <input type="text" class="input input--required" placeholder="Ваше имя">
                </label>
            </div>
            <div class="form-col form-col--6">
                <label class="label">
                    <input type="text" class="input input--required" placeholder="Ваше отчество">
                </label>
            </div>
            <div class="form-col form-col--6">
                <label class="label">
                    <input type="text" class="input input--required" placeholder="Город" value="Новосибирск">
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form__heading">Контактные данные</div>
            <div class="form-col form-col--6">
                <label class="label">
                    <input type="text" class="input input--required" placeholder="Ваш  e-mail">
                </label>
            </div>
            <div class="form-col form-col--6">
                <label class="label">
                    <input class="input" type="text" placeholder="+ 7 (ххх)  ххх - хх-хх *" value="+7 (900) 000 00 00">
                </label>
            </div>
            <div class="form-col">
                <div class="checkbox">
                    <label class="checkbox__label">
                        <input class="checkbox__input" type="checkbox" checked>
                        <div class="checkbox__emulator">
                            <svg class="i-icon">
                                <use xlink:href="#icon-checked"></use>
                            </svg>
                        </div>
                        <div class="checkbox__text">
                            <span>Подписаться на рассылку</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="form-col">
                <input type="text" class="btn btn--border-brown-dark personal-submit" value="Сохранить">
            </div>
        </div>
    </form>
</div>