<div class="collections-item">
    <a href="#" class="collections-item__link">
        <picture class="collections-item__picture">
            <img src="<%= image %>" alt="" class="collections-item__image">
        </picture>
        <div class="collections-item-content">
            <div class="collections-item__title"><%= title %></div>
            <div class="collections-item__price"><%= price %></div>
        </div>
    </a>
</div>
