<div class="events-card">
    <a href="#" class="events-card__link">
        <div class="events-card-content">
            <picture class="events-card__picture">
                <img src="<%= image %>" alt="" class="events-card__image">
            </picture>
            <div class="events-card__label">
                <div class="events-card-date">
                    <div class="events-card-date__col">11</div>
                    <div class="events-card-date__col">
                        <span>декабря</span>
                        <span>2020</span>
                    </div>
                </div>
                <div class="events-card-info">
                    <div class="events-card__title"><%= title %></div>
                    <div class="events-card__place"><%= place %></div>
                </div>
            </div>
        </div>
    </a>
</div>