<div class="section-gallery">
    <div class="masonry masonry--gallery">

        <div class="gallery-card gallery-card--small">
            <img src="./images/content/gallery-img-1.jpg" class="gallery-card__img">
        </div>

        <div class="gallery-card gallery-card--big">
            <img src="./images/content/gallery-img-2.jpg" class="gallery-card__img">
        </div>

        <div class="gallery-card gallery-card--vertical-big">
            <img src="./images/content/gallery-img-3.jpg" class="gallery-card__img">
        </div>

        <div class="gallery-card gallery-card--small">
            <img src="./images/content/gallery-img-4.jpg" class="gallery-card__img">
        </div>

        <div class="gallery-card gallery-card--horizontal-big">
            <img src="./images/content/gallery-img-5.jpg" class="gallery-card__img">
        </div>

        <div class="gallery-card gallery-card--small-vertical">
            <img src="./images/content/gallery-img-6.jpg" class="gallery-card__img">
        </div>

    </div>
</div>