<div class="pagination">
    <ul class="pagination-list">
        <!--class="pagination-list__item--hide" для не активного элемента-->
        <li class="pagination-list__item pagination-list__item--prev">
            <a href="#" class="pagination-list__link">
                <div class="arrow-circle arrow-circle--left"></div>
            </a>
        </li>
        <li class="pagination-list__item current">
            <a href="#" class="pagination-list__link">01</a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">02</a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">03</a>
        </li>
        <li class="pagination-list__item pagination-list__item--dot">
            <a href="#" class="pagination-list__link">
                <span class="pagination-dot"></span>
                <span class="pagination-dot"></span>
                <span class="pagination-dot"></span>
            </a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">20</a>
        </li>
        <li class="pagination-list__item pagination-list__item--next">
            <a href="#" class="pagination-list__link">
                <div class="arrow-circle arrow-circle--right"></div>
            </a>
        </li>
    </ul>
</div>