<div class="price">
    <div class="price__value"><%= priceValue  %> / м<sup>2</sup></div>
    <% if(sale) { %>
        <div class="price__old">148 850 руб. / м<sup>2</sup></div>
    <% } %>
    <div class="price__pack">9 800 руб. / упак</div><!-- только для слайдера новинок -->
</div>