<div class="projects-item">
    <a href="#" class="projects-item__link">
        <picture class="projects-item__picture">
            <img src="<%= image %>" alt="" class="projects-item__img">
        </picture>
        <div class="projects-item-content">
            <div class="projects-item__title"><%= title %></div>
            <div class="projects-item__author"><%= author %></div>
        </div>
    </a>
    <div class="projects-item__used-products">
        <a href="#" class="projects-item__link"><%= usedProd %></a>
    </div>
</div>