<div class="rating">
    <div class="rating-list">
        <div class="rating-item active">
            <svg class="i-icon i-rating">
                <use xlink:href="#i-rating-star"></use>
            </svg>
        </div>
        <div class="rating-item active">
            <svg class="i-icon i-rating">
                <use xlink:href="#i-rating-star"></use>
            </svg>
        </div>
        <div class="rating-item active">
            <svg class="i-icon i-rating">
                <use xlink:href="#i-rating-star"></use>
            </svg>
        </div>
        <div class="rating-item active">
            <svg class="i-icon i-rating">
                <use xlink:href="#i-rating-star"></use>
            </svg>
        </div>
        <div class="rating-item">
            <svg class="i-icon i-rating">
                <use xlink:href="#i-rating-star"></use>
            </svg>
        </div>
    </div>
</div>