<div class="rating">
    <input type="radio" id="rating-5" name="rating" value="5" class="rating__input">
    <label for="rating-5" title="Оценка «5»" class="rating__label">
        <svg class="i-icon">
            <use xlink:href="#i-rating-star"></use>
        </svg>
    </label>
    <input type="radio" id="rating-4" name="rating" value="4" class="rating__input">
    <label for="rating-4" title="Оценка «4»" class="rating__label">
        <svg class="i-icon">
            <use xlink:href="#i-rating-star"></use>
        </svg>
    </label>
    <input type="radio" id="rating-3" name="rating" value="3" class="rating__input">
    <label for="rating-3" title="Оценка «3»" class="rating__label">
        <svg class="i-icon">
            <use xlink:href="#i-rating-star"></use>
        </svg>
    </label>
    <input type="radio" id="rating-2" name="rating" value="2" class="rating__input">
    <label for="rating-2" title="Оценка «2»" class="rating__label">
        <svg class="i-icon">
            <use xlink:href="#i-rating-star"></use>
        </svg>
    </label>
    <input type="radio" id="rating-1" name="rating" value="1" class="rating__input">
    <label for="rating-1" title="Оценка «1»" class="rating__label">
        <svg class="i-icon">
            <use xlink:href="#i-rating-star"></use>
        </svg>
    </label>
</div>