<div class="search-tooltip" data-search-tooltip>
    <div class="search-tooltip-cat-list">
        <div class="search-tooltip-cat-list__item">
            <a href="#" class="search-tooltip-item__link">
                <div class="search-tooltip-item__name">Плитка</div>
            </a>
        </div>
    </div>
    <div class="search-tooltip-list">
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/search-img-1.jpg" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <a href="#" class="search-tooltip-item__link">
                        <div class="search-tooltip-item__name">Плитка Mirage-Image</div>
                    </a>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">400 руб. / м <sup>2</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/search-img-2.jpg" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <a href="#" class="search-tooltip-item__link">
                        <div class="search-tooltip-item__name">Керамогранит Austin</div>
                    </a>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">48 000 руб. / м <sup>2</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/search-img-3.jpg" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <a href="#" class="search-tooltip-item__link">
                        <div class="search-tooltip-item__name">Плитка MARMOL CARRARA BLANCO 31.6X90 G-261</div>
                    </a>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">765 899 руб. / м <sup>2</sup></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-tooltip__btn">
        <a class="search-tooltip__link" href="#">
            <span>Смотреть все</span>
        </a>
    </div>
</div>